.TodayYesterdaySpend{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 22px;
}
.Today{
    background-color:#fff;
    padding-block: 15px;
    padding-inline: 15px;
    border-radius: 15px;
    border: 1px solid #111926;
    display: grid;
}

.price{
    display: grid;
    grid-template-columns: auto 1fr ;
    align-items: center;
    gap: 5px;
}
.price span{
    font-weight: 500;
    
}
.price h2 {
    font-size: 25px;
    
}
.amonthspend{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.titleCard{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.viewrep{
    margin-top: 10px;
    display: grid;
    gap: 5px;
}
.repview{
    font-size: 13px;
    font-weight: 500;
}
.barhr{
    background-color: #3C3434;
    height: 1px;
    border-radius: 2px;
}
.Yesterday{
    background: linear-gradient(to right,#141D2D 10% , #3F5C8C 70%);
    padding-block: 15px;
    border-radius: 15px;    
    color: white;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.titlle1{
    color: rgba(196, 196, 196, 0.901);
    font-weight: 100;
    font-size: 18px;
}
.payment{
    font-size: 25px;
    font-weight: 700px;
}




.Percentage{
    display: flex;
    font-size: 15px;
    place-items: center;
    gap: 10px;
}
.ViewPort{
    place-items: center;
    display: flex;
    gap: 10px;
    border-top: 1px solid rgb(212, 212, 212);
    padding-top: 10px;
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
}
.Pers{
    color: #39BF36;
}

.minus{
    font-size: 0.6rem;
    color: #B7B5B5;
    font-weight: 100;
}
.cardcaisse{
    position: fixed;
    top: 0;
    right: 0;
    left : 0 ;
    bottom: 0 ;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: grid;
    place-items: center ;
}
.cardcaisseclosed{
    display: none;
}

.cardpanel{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(203, 203, 203);
    border-radius: 15px;
    padding-inline: 30px;
    padding-block: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.paneltitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paneltitle span{
    font-size: 18px;
}
.paneltitle button{
    border: none;
    background-color: #a1a3a1;
    color: white;
    border-radius: 6px;
    width: 30px;
    height: 30px ;
    transform: all 0.2s;
    cursor: pointer;
}
.paneltitle button:hover{
    background-color: #f57474;
}
.itemdepose{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 5px;
    border: 1xp solid red;
}
.itemdepose span{
    margin-left: 10px;
}
.deposetmsg{
    padding-block: 10px;
    padding-inline: 10px;
    background-color: #38bf3643;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 300px;
    margin-top: 70px;
    margin-left: 10px;
    border-radius: 5px;
}