/* 
Member Task Style Made By Jawad Boulmal
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

table { 
    border-collapse: collapse; 
}

.MemberRate{
    color: red;
    font-size: smaller;
}

/* Style Of The Color Rate */
.rateLow{
color: red;
}

.rateMeduim{
color: rgb(207, 197, 0);

}
.rateHigh{
color: rgb(0, 255, 0);

}

/* Task List Management Style */
.TasksManagement{
    background-color: white;
    padding: 0px 20px;
    height: fit-content;
    padding-bottom: 10px;
    width: 430px;
  }
  
.Table table{
    /* background-color: rgb(141, 62, 62); */
    width: 100%;
    margin-top: 15px;
}
table, th, td {
border: none;
}
th{
padding-bottom: 8px;
}
tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.26); 
}
thead{
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
  
  
.special-row {
    border-bottom: 2px solid black;
}
  
thead th{
    text-align: left;font-size: smaller;
}
td{
    font-style: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    font-size: small;
}
.Table Table tbody tr:nth-child(4){
border: none;
}
.noBorder{
border-bottom: none}
.MemberImage {
width: 37px;
height: 100%;
}
.MemberImage img{ 
width:32px;
height:32px;
border-radius: 5px;
}
  
.MemberImage div{
    padding: 8px 5px 8px 0px;
    width: 50px;height: 100%;background-color: rgba(255, 0, 0, 0);display: flex;flex-flow: column;justify-content: center;place-items: center;
}
.TitleTaskManager{
padding: 20px 0px;
background-color: rgba(255, 0, 0, 0);
}
.TitleTaskManager h3{
}
.MemberName h3{
}


  
.MemberTaskOutside div{
    background-color: rgba(229, 54, 54, 1);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: .7rem;
    color: rgb(255, 255, 255);
}
.MemberTaskWashing div{
background-color: rgba(87, 164, 87, 1);
width: fit-content;
padding: 5px 10px;
border-radius: 50px;
font-size: .7rem;
color: rgb(255, 255, 255);
}
.MemberTaskCleaning div{
background-color: rgba(116, 116, 116, 1);
width: fit-content;
padding: 5px 10px;
border-radius: 50px;
font-size: .7rem;
color: rgb(255, 255, 255);
}
.MemberTaskOther div{
background-color: rgba(222, 144, 45, 1);
width: fit-content;
padding: 5px 10px;
border-radius: 50px;
font-size: .7rem;
color: rgb(255, 255, 255);
}
