:root{
  --PrimaryColor : #ffffff;
  --SecondColor : #9d9d9d;
  --TitleColor : #1c1b1b;
  --SubtitleColor : #474646;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  padding: 0%;
  margin: 0%;
  
}


.BodyRoot{
  position: relative;
  font-family: sans-serif;
  font-family: Poppins;
  font-weight: 800;
}

/* Style Up Bar  */
nav{
  margin: 20px 0px 30px;
  display: grid;
  place-items: center;
}
.BarNav{
  max-width: 1518px;  position: relative;
  font-family: sans-serif;
  background-color: var(--PrimaryColor);
  width: 80%;
  height: 50px;
  display: flex;
  place-items: center;
  justify-content: space-between;
  grid-template-columns: 25% 1fr 25% ;
  padding-block: 10px;
  padding-inline: 40px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 50px;
}

/* Style Of Menu Bar ( dashboard , tasks , box ) */
.Menu{
  display: flex;
  gap: 30px;
  
}
.Option{
  color: #3a3a3a;
  transform: scale(1rem);
  cursor: pointer;
  position: relative;
  font-weight: 600;
  
}
.Option::after {
  content: ' ';
  width: 0px;
  height: 3px; display: block;
  position: relative;
  background-color: rgb(0, 0, 0);
  transform: translateY(26px);
  transition: .2s;
  text-align: center;
  position: absolute;
  left: 50%;
  transition: all 0.4s;
}
.Option:hover.Option::after {
  width: 100%;
  left: 0%;
  color: #000000;
 
}
.Option:hover{
  color: #000000;
}
.active{
  color: #000000;
  cursor: pointer;
  
} 
.active::after{
  content: ' ';
  width: 100%;
  height: 3px; 
  display: block;
  position: relative;
  background-color: rgb(0, 0, 0);
  transform: translateY(26px);
  transition: all .2s;
}

/* Logo Style */
.Logo , .LightMode{
  margin: 0px 50px;
} 

/* Dashboard  */
dashboard{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 15px;
  margin-block: 15px;
  margin-inline: 80px;
}
.Calendar ,.PieChart, .LineChart , .TasksManagement{
  background-color: white;
  border-radius:8px;
  box-shadow:0px 10px 15px #c1c1c1;

}
