@media screen and (max-width : 1400px) {
    dashboard{
        grid-template-columns: repeat(2, 1fr); 
        transition: all 0.4s;
      }
      .LineChart{
        grid-column: span 0;
      }
}
@media screen and (max-width : 375px) {
    dashboard{
        grid-template-columns: repeat(1, 1fr); 
        transition: all 0.4s;
      }
      .LineChart{
        grid-column: span 0;
      }
}