@media screen and (max-width : 1400px) {
    
    dashboard{
      grid-template-areas: " cards calendar" 
      "tasklist tasklist"
      "linecha piecha" ;  
        transition: all 0.4s;
      }
     
}
@media screen and (max-width : 1000px) {
    dashboard{
      grid-template-areas: "calendar" 
      "cards"
      "tasklist"
      "linecha" 
      "piecha";  
        transition: all 0.4s;
      }
      
     
}