@media screen and (max-width : 1400px) {
    
    dashboard{
      grid-template-areas: " cards calendar" 
      "tasklist tasklist"
      "linecha piecha" ;  
        transition: all 0.4s;
        margin-inline: 20px;
      }
    
     
}
@media screen and (max-width : 1000px) {
    dashboard{
      grid-template-areas: "calendar" 
      "cards"
      "tasklist"
      "linecha" 
      "piecha";  
        transition: all 0.4s;
        margin-inline: 10px;
      }
      .BarNav{
        grid-template-areas: "menuicon logo Mode" ;
       }
       .MeniInco{
        display: block;
      }
      .Menu{
        display: none;
      }
      .logo{
        justify-content: center;
      }
   
      
}